@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
:root {
    --main-color: #57419D;
    --secondary-color: #A89DD1;
    --fontSize-title: 30px;
    --fontSize-text: 18px;
    --fontSize-buttons: 20px;
    --breakpoint-s: 420px;
}

.App {
    font-family: 'Inter', sans-serif;
}